.main-header {
  background: #ea9094;
  background: linear-gradient(to right, #ea9094, #f7a868);
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  box-sizing: border-box;
}
