<div class="container">
  <h2>{{dialogTitle}}</h2>

  <form [formGroup]="addCourseForm" class="addCourseForm">
    <label>
      Title*
      <input type="text" formControlName="title" [(ngModel)]="course.title">
    </label>

    <label>
      Description*
      <textarea type="text" formControlName="description" [(ngModel)]="course.description"></textarea>
    </label>

    <div class="row">
      <label class="row-2-col">
        Date*
        <app-date-input [(date)]="course.creationDate"></app-date-input>
      </label>

      <label class="row-2-col">
        Duration*
        <app-duration-input [(duration)]="course.duration"></app-duration-input>
      </label>

    </div>

    <label>
      Authors*
      <app-people-input></app-people-input>
    </label>

  </form>

  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSave()">Save</button>
</div>
