.course {
  height: 200px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #e5e5e7;
  overflow: hidden;
  display: flex;
  padding-right: 20px;

  &--top-rated {
    background-color: #fff6f6;
  }

  &__img {
    height: 100%;
  }

  &__main {
    padding: 0 20px;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover h2 {
    color: #51c4e4;
  }

  .property {
    margin-right: 30px;
    &__title {
      color: #dcdde2;
      margin-right: 10px;
    }
  }

  .buttons {
    align-self: center;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    button {
      margin: 10px 0;
    }
  }

  .top-rated-sign {
    color: #eed3a0;
  }
}
