<a class="course">
  <img class="course__img" [src]="course.image ? course.image : 'assets/images/course-default-img.jpg'" alt="course-img"/>
  <div class="course__main">
    <h2 class="course__title">{{course.title}}</h2>
    <p>{{course.description}}</p>
    <span class="property">
      <i class="far fa-clock icon"></i>
      <span class="property__title">Duration:</span> {{course.duration.hours}}h {{course.duration.minutes}}m
    </span>
    <span class="property">
      <i class="far fa-calendar-alt icon"></i>
      <span class="property__title">Date:</span> <time>{{course.creationDate | date}}</time></span>
  </div>
  <div class="buttons">
    <button class="btn-icon" (click)="onEdit()"><i class="far fa-edit"></i></button>
    <button class="btn-icon" (click)="onDelete(course.id)"><i class="fas fa-trash-alt"></i></button>
  </div>
</a>
