<div>
  <div class="people-input" [ngClass]="ngClass">
    <div *ngFor="let person of people.value; let i" class="people-input__person">
      <span>{{person.name || person.firstName + ' ' + person.lastName}}</span>
      <i class="fas fa-times" (click)="removePerson(i)"></i>
    </div>

    <input #search type="text" (keyup)="onSearch(search.value)" [matAutocomplete]="auto">
  </div>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let person of peopleList" (click)="addPerson(person)">
      {{person.name}}
    </mat-option>
  </mat-autocomplete>
</div>
