@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  min-height: 100vh;
}

body, ul, h1 {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 50px;
  color: #9d9da5;
}

ul {
  list-style: none;
}

h1 {
  color: white;
  font-weight: 500;
  margin: 10px 0;
}

%button {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  background-color: initial;
  cursor: pointer;
  text-decoration: none;
}

.button {
  @extend %button;
}

.btn-blue {
  @extend %button;
  color: #63c7e5;
  border-color: #63c7e5;;
}

.btn-green {
  @extend %button;
  background-color: #9bc837;
  border: none;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.btn-icon {
  color: #63c7e5;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #eeeff3;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

.btn-color {
  @extend %button;
  background: linear-gradient(to right, #ea9094, #f7a868);
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  color: #63c7e5;
  margin-right: 10px;
}

input, textarea {
  width: 100%;
  border: 1px solid #dcdde2;;
  border-radius: 10px;
  height: 35px;
  margin: 10px 0;
  padding: 0 20px;
  box-sizing: border-box;
}

textarea {
  min-height: 60px;
  padding: 10px 20px;
}

.row {
  display: flex;

  .row-2-col {
    flex-basis: 50%;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.incorrect {
  border-color: red !important;
}
